# Ignore all .mp4 files
*.mp4

# Ignore all .txt and .jpg files
*.txt
*.jpg

# Ignore the video directory
video/

# Ignore the node_modules directory
node_modules/

# add .vscode
.vscode/

# add .mypy_cache
.mypy_cache/

# env file
.env